---
interface Props {
	date: string;
	institution: string;
	degree: string;
}

const { date, institution, degree } = Astro.props;
---

<div class="leading-snug">
	<div><span class="font-semibold">{institution}</span> <span class="whitespace-nowrap">({date})</span></div>
	<div set:html={degree} />
</div>

