---
import BaseLayout from '../layouts/BaseLayout.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<BaseLayout title={`Projects - ${SITE_TITLE}`} description={SITE_DESCRIPTION}>
	<section class="container py-16">
		<div class="max-w-3xl mx-auto space-y-8">
			<h1 class="scroll-m-20 text-4xl font-extrabold tracking-tight">Projects</h1>
			<div class="space-y-6">
				<p class="text-lg text-muted-foreground leading-7">
					Coming soon...
				</p>
			</div>
		</div>
	</section>
</BaseLayout>

